<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<form METHOD="post">
            {% csrf_token %}
				<table>
					<h3>VEHICLE REGISTRATION FORM</h3>

					<tr>
						<td>
							VEHICLE NAME

						</td>
						<td>
							<input type="text" name="vehiclename" required="">
						</td>
					</tr>
					<tr>
						<td>
							MODEL

						</td>
						<td>
							<input type="text" name="model" required="">
						</td>
					</tr>
					<TR>
						<td>REGISTERED NO:</td>
						<TD><input type="text" name="registeredno" required=""></TD>
					</TR>
					<tr>
						<td>
							TYPE:
						</td>
						<td>
							<input type="text" name="type" required="">
						</td>
						</tr>

						<tr>
				<td></td>
				<td><input type="submit" name="register" value="REGISTER"></td>
			</tr>


				</table>
			</form>
	</center>

</body>
</html>>